<div class="cards cards-basic">
    <div class="cards__title">
        <div class="cards__title__text">Security Status</div>
        <div class="cards-dots">
            <span class="dots"></span>
            <span class="dots"></span>
            <span class="dots"></span>
        </div>
    </div>

    <div class="cards__number">
        <div class="cards__title__number">2</div>
        <div class="cards__title__alerts">Security alerts</div>
        <div class="cards__title__peace">Peace Time - No diversion</div>
    </div>
</div>

<!-- <div class="cards cards-statuses">
    <div class="cards-statuses__title">
        <div class="cards-statuses__title__text">Security Status</div>
    
    </div>
    <div class="cards-statuses__number">
        <div class="cards-statuses__number__item1">CFS Follow up

        </div>
        <div class="cards-statuses__number__item2"> +3.1%(80.6%)
            
        </div>
        <div class="cards-statuses__number__item3">From Last Review
            
        </div>
        <div class="cards-statuses__number__item4">CFS Entry & Coaching
            
        </div>
        <div class="cards-statuses__number__item5">
            
        </div>
        <div class="cards-statuses__number__item6">
            
        </div>
       

    </div>
</div> -->