<div class="cards cards-statuses">
    <div class="cards-statuses__title">
        <div class="cards-statuses__title__text">Cody Perkins(605689)</div>
    
    </div>
    <div class="cards-statuses__number">
        <div class="cards-statuses__number__item1">CFS Follow up

        </div>
        <div class="cards-statuses__number__item2"> +3.1%(80.6%)
            
        </div>
        <div class="cards-statuses__number__item3">From Last Review
            
        </div>
        <div class="cards-statuses__number__item4">CFS Entry & Coaching
            
        </div>
        <div class="cards-statuses__number__item5"><span class="dots dots-1"></span> CFS <span class="dots dots-2"></span>Tuesday, July 3 
            
        </div>
        <div class="cards-statuses__number__item6">
            
        </div>
       

    </div>
</div>