.cards {
    // width: 316px;
    // height: 105px;
	background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;  
 
}
.cards-basic {
    width: 316px;
    height: 105px; 
    padding:20px 0px 20px 0px;
    display: grid;
    grid-template-rows: repeat(2,1fr);

    .cards__title{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid #E5E9EF;
    }
    .cards__title__text{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        padding-left: 20px;
    }  
}
.cards-dots{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 16px;
    align-items: center;
    height: 10px;
    padding-right: 20px;
    
    .dots{
        height: 4px;
        width: 4px;
        background-color: #003778;
        border-radius: 50%;
        display: inline-block; 
    }
}

.cards__number{
    margin-top: 5px;
    display: grid;
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows:repeat(2,1fr) ;
}
.cards__title__number{
    grid-area:1/1/3/2;
    font-family: BellSlim;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -1.25px;
    padding-left: 20px;
    display: inline;
}
.cards__title__alerts{
    grid-area:1/2/2/7;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #555555;
}
.cards__title__peace{
    grid-area:2/2/3/7;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #111111;
}


.cards-statuses {
    width: 344px;
    height: 200px; 
    padding:20px 0px 20px 0px;
    display: grid;
    grid-template-rows: 20% 80%;
    .cards-statuses__title{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid #E5E9EF;
        
    }
    .cards-statuses__title__text{
        padding-left: 10px;
        font-family: Arial;

font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


color: #003778;
    } 
}
.cards-statuses__number{
    margin-top: 5px;
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    grid-template-rows:repeat(5,1fr) ;
    padding: 10px;
    
}
.cards-statuses__number__item1{
    grid-area: 1/1/2/2;
    font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
    
}

.cards-statuses__number__item2,.cards-statuses__number__item3,.cards-statuses__number__item4{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding-left: 30px;
}
.cards-statuses__number__item2{
    grid-area: 2/1/3/2;
  
}
.cards-statuses__number__item3{
    grid-area: 3/1/4/2;
    
}
.cards-statuses__number__item4{
    grid-area: 4/1/5/2;
    
}
.cards-statuses__number__item5{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding-left: 2px;
    grid-area: 5/1/6/2;
    // background-color: ;

    .dots{
        height: 8px;
        width: 8px;
        margin-right: 3px;
        border-radius: 50%;
        display: inline-block; 
    }
    .dots-1{
        background-color: #FA7328;

    }
    .dots-2{
        margin-left: 20px;
        background-color: #555555;
    }

}
.cards-statuses__number__item6{
    grid-area: 1/2/6/3;
    
    
  
}

