.button {
	height: 40px;
	width: auto;
	color: #FFFFFF;
	font-size: 1em;
	padding: 11px 16px;
	border: 0;
	border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    outline: none; /* temp */
}
.button--primary {
    background-color: #00549A;
    &:hover {
        background-color: #003778;
    }
    &:active {
        background-color: #00215E;
    }
    &:disabled {
        background-color: #CCCCCC;
        color: #999999;
        box-shadow: none;
    }
}
.icon-only {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    svg {
        width: 16px;
        height: 16px;
    }
}