/* Webfont: BellSlim-Regular */@font-face {
    font-family: 'BellSlim';
    src: url('BellSlim-Regular.eot'); /* IE9 Compat Modes */
    src: url('BellSlim-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BellSlim-Regular.woff') format('woff'), /* Modern Browsers */
         url('BellSlim-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BellSlim-Regular.svg#BellSlim-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

