/* Webfont: BellSlim-Bold */@font-face {
    font-family: 'BellSlim2';
    src: url('BellSlim-Bold.eot'); /* IE9 Compat Modes */
    src: url('BellSlim-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BellSlim-Bold.woff') format('woff'), /* Modern Browsers */
         url('BellSlim-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BellSlim-Bold.svg#BellSlim-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

