/* Webfont: BellSlim-Black */@font-face {
    font-family: 'BellSlimBlack';
    src: url('BellSlim-Black.eot'); /* IE9 Compat Modes */
    src: url('BellSlim-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BellSlim-Black.woff') format('woff'), /* Modern Browsers */
         url('BellSlim-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BellSlim-Black.svg#BellSlim-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

