/* Webfont: BellSlim-Medium */@font-face {
    font-family: 'BellSlim';
    src: url('BellSlim-Medium.eot'); /* IE9 Compat Modes */
    src: url('BellSlim-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BellSlim-Medium.woff') format('woff'), /* Modern Browsers */
         url('BellSlim-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BellSlim-Medium.svg#BellSlim-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

