/* Webfont: BellSlim-Heavy */@font-face {
    font-family: 'BellSlimBlack';
    src: url('BellSlim-Heavy.eot'); /* IE9 Compat Modes */
    src: url('BellSlim-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BellSlim-Heavy.woff') format('woff'), /* Modern Browsers */
         url('BellSlim-Heavy.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BellSlim-Heavy.svg#BellSlim-Heavy') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

