/* Webfont: BellSlim-SemiBold */@font-face {
    font-family: 'BellSlimSemBd';
    src: url('BellSlim-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('BellSlim-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BellSlim-SemiBold.woff') format('woff'), /* Modern Browsers */
         url('BellSlim-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BellSlim-SemiBold.svg#BellSlim-SemiBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

