.navbar{
    width: 360px;
    height: 56px;
    background: #00549A;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);

}

.hamburger{
    grid-column:1/2 ;
}