/*************** VARIABLES ***************/
/******** Colors ********/
$common--background-color: #F4F4F4;
$common--light-gray: #E1E1E1;
$common--inactive-gray: #999999;
$common--disable-negative:#C2CEDF;

$base--bell-blue: #00549A;
$base--medium-blue: #003778;
$base--dark-blue: #00215E;
$base--white: #FFFFFF;

$copy--dark-gray: #111111;
$copy--medium-gray: #555555;
$copy--white: #FFFFFF;
$copy--light-grey:#E1E1E1;

/******** Fonts ********/
$regular: 'Arial', sans-serif;
$headline: 'BellSlim';


/*************** STYLES ***************/
h1 {
    font-family: $headline;
}
a {
    color: $base--bell-blue !important;
}